body {
    height: 200vh;
}

div {
    height: 200px;
    border: 3px solid black;
}

.red {
    width: 100%;
    background-color: red;
    top: 100px;
    position: sticky;
    box-sizing: border-box;
}